.transactionHistory {
    width: 700px;
    background-color: #ffffff;
    font-size: 30px;
    border-radius: 10px;
    box-shadow: 10px 10px 15px 10px #a9a9a9;
    padding: 30px;
  }
  .tableHead {
    background-color: rgb(158, 210, 255);
    color: #fdf6f6;
    font-weight: 500;
    height: 50px;
    padding: 10px;
  }

  tr:nth-child(2n+1) {
    background-color: #ffffff;
  }
  
  tr:nth-child(2n) {
    background-color: rgb(208, 208, 208);
  }
  
  .tableData  
  .tableBody {
    text-align: center;
    width: 200px;
    height: 40px;
    font-weight: 400;
    font-size: 20px;

  }
  
